/*Documento general de estilos*/
/*Reseteo de estilos*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  background-color: whitesmoke;
}

body.dark {
  background-color: #131216;
}

header {
  width: 100%;
  padding: 20px 5%;
  display: flex;
  flex-direction: row;
  background-color: white;

  position: sticky;
  top: 0;
  z-index: 100;

}

body.dark header {
  background-color: #18171c;
}

header h1 {
  flex-grow: 1;
  color: #131216;
}

body.dark header h1 {
  color: white;
}

header #darkMode {
  width: 120px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
  border: none;
}

body.dark header #darkMode {
  background-color: #18171c;
}

header #darkMode ion-icon {
  margin: 10px;
  color: #131216;
}

body.dark header #darkMode ion-icon {
  color: white;
}

header #darkMode p {
  flex-grow: 1;
  text-align: left;
  color: #131216;
}

body.dark header #darkMode p {
  color: white;
}

main {
  background-color: whitesmoke;
}

body.dark main {
  background-color: #131216;
}

main .barraFiltros {
  width: 100%;
  padding: 20px 5%;
  display: flex;
  flex: row;
  align-items: center;
  justify-content: center;

  a{
    text-decoration: none;
    color: #131216;
    body.dark &{
      color: white;
    }

  }

}

main .barraFiltros #formBusqueda {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
}

body.dark main .barraFiltros #formBusqueda {
  background-color: #18171c;
}

main .barraFiltros #formBusqueda ion-icon {
  margin: 10px;
  color: #18171c;
}

body.dark main .barraFiltros #formBusqueda ion-icon {
  color: white;
}

main .barraFiltros #formBusqueda input {
  width: 300px;
  padding: 10px 0;
  margin: 10px 10px 10px 0;
  border: none;
  background-color: white;
  color: #18171c;
}

body.dark main .barraFiltros #formBusqueda input {
  background-color: #18171c;
  color: white;
}

main .barraFiltros #formBusqueda button {
  display: none;
}

main .barraFiltros #filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
}

main .barraFiltros #filter #filtro {
  width: 200px;
  padding: 10px 0;
  background-color: white;
  color: #18171c;
  border: none;
  border-radius: 5px;

}

body.dark main .barraFiltros #filter #filtro {
  background-color: #18171c;
  color: white;
}

main #paises {
  width: 100%;
  padding: 20px 5%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
}

main #paises .tarjetaPais {
  width: 20%;
  margin: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  border-radius: 5px;
  background-color: white;

  .btnMoreInfo{
    border: none;
    background-color: white;
    color: #18171c;
    padding: 10px;
    text-align: left;
    font-weight: bold;
    body.dark &{
      background-color: #18171c;
      color: white;
    }
  }

}

body.dark main #paises .tarjetaPais {
  background-color: #18171c;
}

main #paises .tarjetaPais img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
}

main #paises .tarjetaPais h3 {
  margin: 10px 10px;
  color: #131216;
}

body.dark main #paises .tarjetaPais h3 {
  color: white;
}

main #paises .tarjetaPais .datos {
  margin: 10px 10px;
  color: #131216;
}

main #selecciones {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .tarjetaSeleccion{

    width: 40%;
    margin: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    border-radius: 5px;
    background-color: white;
    body.dark &{
      background-color: #18171c;
    }

    img{
      border-radius: 5px;
    }

    h3{
      color: #131216;
      margin: 15px;
      body.dark &{
        color: white;
      }
    }

    .datos{
      margin: 15px;
      body.dark &{
        color: white;
      }

      p{
        margin: 5px 0;
        span{
          font-weight: bold;
        }
      }

    }

  }

}

body.dark main #paises .tarjetaPais .datos {
  color: whitesmoke;
}

main #paises .tarjetaPais .datos span {
  font-weight: bold;
}

/*# sourceMappingURL=style.scss.map */
/*# sourceMappingURL=style.scss.map */
/*# sourceMappingURL=style.scss.map */

/*# sourceMappingURL=style.scss.map */
/*# sourceMappingURL=style.scss.map */
/*# sourceMappingURL=style.scss.map */
/*# sourceMappingURL=style.scss.map */
/*# sourceMappingURL=style.scss.map */
/*# sourceMappingURL=style.scss.map */
/*# sourceMappingURL=style.scss.map */
/*# sourceMappingURL=style.scss.map */
/*# sourceMappingURL=style.scss.map */
/*# sourceMappingURL=style.scss.map */
/*# sourceMappingURL=style.scss.map */
/*# sourceMappingURL=style.scss.map */
/*# sourceMappingURL=style.scss.map */
/*# sourceMappingURL=style.scss.map */
/*# sourceMappingURL=style.scss.map */
/*# sourceMappingURL=style.scss.map */
/*# sourceMappingURL=style.scss.map */
/*# sourceMappingURL=style.scss.map */
/*# sourceMappingURL=style.scss.map */
/*# sourceMappingURL=style.scss.map */
/*# sourceMappingURL=style.scss.map */
/*# sourceMappingURL=style.scss.map */
/*# sourceMappingURL=style.scss.map */
/*# sourceMappingURL=style.scss.map */
/*# sourceMappingURL=style.scss.map */
/*# sourceMappingURL=style.scss.map */

/*# sourceMappingURL=style.scss.map */
