/*Documento general de estilos*/

/*Reseteo de estilos*/
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Lato", sans-serif;
}

//Variables
$blanco: white;
$blanco-opaco: whitesmoke;
$negro: #18171c;
$negro-opaco: #131216;

header {
   width: 100%;
   padding: 20px 5%;
   display: flex;
   flex-direction: row;
   background-color: $blanco;

   body.dark & {
      background-color: $negro;
   }

   h1 {
      flex-grow: 1;
      color: $negro-opaco;

      body.dark & {
         color: $blanco;
      }
   }

   #darkMode {
      width: 120px;

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      background-color: $blanco;
      border: none;
      body.dark & {
         background-color: $negro;
      }

      ion-icon {
         margin: 10px;
         color: $negro-opaco;
         body.dark & {
            color: $blanco;
         }
      }

      p {
         flex-grow: 1;
         text-align: left;
         color: $negro-opaco;
         body.dark & {
            color: $blanco;
         }
      }
   }
}

main {
   background-color: $blanco-opaco;
   body.dark & {
      background-color: $negro-opaco;
   }

   .barraFiltros {
      width: 100%;
      padding: 20px 5%;
      display: flex;
      flex: row;
      align-items: center;
      justify-content: center;

      #formBusqueda {
         display: flex;
         flex-direction: row;
         justify-content: flex-start;
         align-items: center;

         background-color: $blanco;
         body.dark & {
            background-color: $negro;
         }

         ion-icon {
            margin: 10px;
            color: $negro;
            body.dark & {
               color: $blanco;
            }
         }

         input {
            width: 300px;
            padding: 10px 0;
            margin: 10px 10px 10px 0;
            border: none;

            background-color: $blanco;
            color: $negro;
            body.dark & {
               background-color: $negro;
               color: $blanco;
            }
         }

         button {
            display: none;
         }
      }

      #filter {
         display: flex;
         flex-direction: row;
         align-items: center;
         justify-content: flex-end;

         flex-grow: 1;

         #filtro {
            width: 200px;
            padding: 10px 0;
            background-color: $blanco;
            color: $negro;
            body.dark & {
               background-color: $negro;
               color: $blanco;
            }
         }
      }
   }

   #paises {
      width: 100%;
      padding: 20px 5%;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      flex-wrap: wrap;

      .tarjetaPais {
         width: 20%;
         margin: 2%;
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         align-items: left;
         border-radius: 5px;

         background-color: $blanco;
         body.dark & {
            background-color: $negro;
         }

         img {
            width: 100%;
            height: auto;
            object-fit: cover;
            border-radius: 5px;
         }

         h3 {
            margin: 10px 10px;
            color: $negro-opaco;
            body.dark & {
               color: $blanco;
            }
         }

         .datos {
            margin: 10px 10px;
            color: $negro-opaco;
            body.dark & {
               color: $blanco-opaco;
            }

            span {
               font-weight: bold;
            }
         }
      }
   }
}
